:root {
  /* Colours */
  --color-bg: #f2dc87; /* page background /*

  /* Header */
  --color-head-bg: #e56007;

  /* Logotype */
  --color-logotype-bg: #2a2828;
  --color-text-logotype: #c1bfb8;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #7acae9;
  /* Links */
  --color-link-bg: #ffffff;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #010101;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #fbf9f9;
  --color-cta-card-bg: #f16508;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #789fed;
  --color-cta-newscard-bg: #ec7c0b;
  --color-cta-newscard-bg-inverted: #fd6f0a;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #f9f8f8;
  --color-infobox-1-bg: #f37005;
  --color-infobox-2-bg: #f67c0a;
}
